# LaTeX / PDFs
*.pdf
*.aux
*.log
*.gz
*.toc
*.out
*.bcf
*.preview.tex
*.preview_BB.txt
*.bcf
*.out

# IDE files
*.iml
.idea/
target/
dependency-reduced-pom.xml
.classpath
.project
.settings
.DS_Store

# Compiler artefacts
*.jar
*.class

# Misc
.DS_STORE
.~lock.*

# Misc folders
/bin/
/target/
/doc/
/lib/*
!/lib/NetCal-DNC-2.5.0.jar
!/lib/NetCal-DNC-LICENSE
!/lib/NetCal-NumBackend-1.0.0.jar
!/lib/NetCal-NumBackend-LICENSE
